/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol {
  margin: 0;
  padding-left: 20px;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: normal;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kiwi Maru", serif;
  font-size: 1.4rem;
  line-height: 1.8em;
  color: #222;
}
body img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 1.2rem;
  }
}
.about-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
  align-items: center;
}

.about-concept {
  grid-area: 2/1/3/2;
}

.about-staff {
  grid-area: 3/1/4/3;
  display: grid;
  grid-template-columns: 240px auto;
  gap: 48px;
  align-items: center;
  padding: 0 15%;
}

@media screen and (max-width: 800px) {
  .about-container {
    grid-template-columns: 1fr;
  }

  .about-concept {
    grid-area: 4/1/5/2;
  }

  .about-staff {
    grid-area: 5/1/6/2;
    grid-template-columns: 1fr;
  }
}
.access-information {
  display: grid;
  justify-items: center;
  text-align: center;
  row-gap: 16px;
  margin-bottom: 48px;
}
.access-information .access-information__logo {
  width: 200px;
}

.access-map {
  width: 100%;
  max-width: 800px;
  height: 400px;
}

@media screen and (max-width: 480px) {
  .access-information .access-information__logo {
    width: 120px;
  }
}
.common-button {
  background-color: #222;
  color: #EEE8E4;
  width: 240px;
  height: 56px;
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

.common-icon-small {
  width: 20px;
  height: auto;
}

.common-icon-medium {
  width: 24px;
  height: auto;
}

.common-headline {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5em;
  padding-bottom: 16px;
}

.common-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 40px 80px;
}
.common-section .common-section__title {
  font-size: 3.6rem;
  font-family: "Quicksand", serif;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 48px;
}

.common-section--colored {
  background-color: #EEE8E4;
}

.common-sns-links {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 24px;
  display: grid;
  row-gap: 24px;
}

@media screen and (max-width: 800px) {
  .common-section {
    padding: 64px 24px 80px;
  }
}
@media screen and (max-width: 480px) {
  .common-headline {
    font-size: 1.6rem;
    font-weight: 500;
  }

  .common-section .common-section__title {
    font-size: 2.4rem;
    padding-bottom: 32px;
  }

  .common-button {
    width: 100%;
    font-size: 1.4rem;
  }
}
.footer {
  background-color: #222;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  color: #EEE8E4;
}

.hair-style-gallery {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
  margin-bottom: 48px;
}
.hair-style-gallery .hair-style-gallery__img {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .hair-style-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
.header {
  width: 100%;
  height: 100vh;
}

.header-firstview {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.header-firstview .header-firstview__text {
  margin: 0 40px;
  font-size: 6.4rem;
  color: #EEE8E4;
  font-family: "Quicksand", serif;
  line-height: 1.5em;
}

.header-navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 64px;
  background-color: #222;
  border-bottom: 1px solid #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navbar .header-navbar__right-items {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-navbar .header-navbar__logo {
  padding-left: 24px;
  width: 200px;
  height: auto;
}
.header-navbar .header-navbar__space {
  flex-grow: 1;
}
.header-navbar .header-navbar__phone-number {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  color: #EEE8E4;
  column-gap: 16px;
  padding: 0 16px;
}
.header-navbar .header-navbar__reserve-button {
  height: 100%;
  padding: 0 32px;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #EEE8E4;
  text-align: center;
}
.header-navbar .header-navbar__menu-button {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .header-firstview .header-firstview__text {
    font-size: 4rem;
    margin-left: 24px;
    line-height: 1.5em;
  }

  .header-navbar {
    height: 48px;
  }
  .header-navbar .header-navbar__phone-number {
    display: none;
  }
  .header-navbar .header-navbar__reserve-button {
    padding: 0 24px;
  }
  .header-navbar .header-navbar__menu-button {
    width: 64px;
  }
}
@media screen and (max-width: 480px) {
  .header-navbar .header-navbar__logo {
    padding-left: 16px;
    width: 160px;
    height: auto;
  }
  .header-navbar .header-navbar__reserve-button {
    display: none;
  }
}
.menu-board {
  position: relative;
  top: 10px;
  left: 10px;
  width: 100%;
  max-width: 1200px;
  background-color: #EEE8E4;
  padding: 56px 72px;
  margin-bottom: 64px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8%;
  row-gap: 24px;
}
.menu-board::before {
  position: absolute;
  content: "";
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border: 1px solid #222;
}

.menu-credit-card {
  grid-area: 2/1/3/3;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}
.menu-credit-card .menu-credit-card__icon {
  width: 160px;
}

.menu-list {
  margin-bottom: 40px;
}
.menu-list .menu-list__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.menu-list .menu-list__item .menu-list__item-line {
  flex-grow: 1;
  margin: 0 4px 11px;
  border-bottom: 1px dashed #222;
}

.menu-description {
  width: 100%;
  max-width: 600px;
  margin-bottom: 32px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .menu-board {
    grid-template-columns: auto;
    row-gap: 0;
    padding: 24px 32px;
  }

  .menu-credit-card {
    grid-area: 3/1/4/2;
  }
}
.reserve-guide {
  margin-top: 32px;
  display: flex;
  gap: 16px;
}
.reserve-guide .reserve-guide__phone-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  column-gap: 16px;
  width: 240px;
  height: 56px;
  border: 1px dashed #222;
}

@media screen and (max-width: 800px) {
  .reserve-guide {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .reserve-guide {
    flex-direction: column;
    width: 100%;
  }
  .reserve-guide .reserve-guide__phone-number {
    width: 100%;
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=style.css.map */
