@use './global/index' as global;

// ------------------------------------------------
// common
// ------------------------------------------------
.section-title {
  font-family: 'Quicksand';
  font-size: 3.6rem;
  text-align: center;
  text-transform: uppercase;
  padding-top: 64px;
  padding-bottom: 48px;
  letter-spacing: 0.15em
}

.heading {
  font-size: 2.4rem;
  font-weight: 500;    
  line-height: 1.5em;
  margin-bottom: 16px;
}

.heading--center {
  font-size: 2.4rem;
  font-weight: 500;    
  line-height: 1.5em;
  margin-bottom: 16px;
  text-align: center;
}

.button {
  background-color: global.$assort-color;
  color: global.$base-color;
  min-width: 240px;
  height: 56px;
  @include global.font-middle;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.button--icon-left {
  background-color: global.$assort-color;
  color: global.$base-color;
  min-width: 240px;
  height: 56px;
  @include global.font-middle;
  display: flex;
  justify-content: center;
  align-items: center;  
  
  .button__icon {
    margin-left: 16px;
  }
}


// ------------------------------------------------
// header
// ------------------------------------------------
.header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .header__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header__text {
    z-index: 1;
    color: global.$base-color;
    font-family: 'Quicksand';
    font-size: 6.4rem;
    line-height: 1.5em;
  }
}

.header-navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  height: 64px;
  background-color: global.$assort-color;
  border-bottom: 1px solid global.$assort-color;
  display: flex;
  align-items: center;

  .header-navbar__logo {
    margin-left: 24px;
    flex-grow: 1;
  }

  .header-navbar__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .header-navbar__phone-number {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin: 0 16px;
    @include global.font-middle;
    color: global.$base-color;
  }

  .header-navbar__reserve-button {
    @include global.font-middle;
    width: 200px;
    height: 100%;
    background-color: global.$base-color;
    text-align: center;
  }

  .header-navbar__menu-button {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header-sns-links {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}


.about {
  padding-bottom: 80px;
}

.about-introduction {
  display: flex;
  align-items: center;
  margin-bottom: 48px;

  .about-introduction__img {
    width: 50%;
    height: 300px;
    object-fit: cover;
  }

  .about-introduction__description {
    width: 50%;
    padding: 0 48px;
  }
}

.about-concept {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 48px;

  .about-concept__img {
    width: 50%;
    height: 300px;
    object-fit: cover;
  }

  .about-concept__description {
    width: 50%;
    padding: 0 48px;
  }
}

.about-staff {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .about-staff__img {
    width: 240px;
    height: 240px;
  }

  .about-staff__description {
    width: 50%;
    padding: 0 48px;
  }
}


.style {
  background-color: global.$base-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.style-gallery {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2%;
  margin-bottom: 48px;

  .style-gallery__img {
    width: 100%;
    object-fit: cover;
  }
}


.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.menu-board {
  width: 100%;
  max-width: 1000px;
  border: 1px solid global.$assort-color;
  padding: 56px 72px;
  margin-bottom: 64px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 8%;
  row-gap: 24px;

  .menu-board__credit-card {
    grid-area: 2 / 1 / 3 / 3;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
  }
}

.menu-list {
  margin-bottom: 40px;

  .menu-list__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    .menu-list__item__line {
      flex-grow: 1;
      margin: 0 4px 11px;
      border-bottom: 1px dashed global.$assort-color;
    }
  }
}

.menu-description {
  max-width: 1000px;
  margin-bottom: 32px;
}


.reserve {
  background-color: global.$base-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.reserve-guide {
  margin-top: 32px;
  display: flex;
  column-gap: 16px;

  .reserve-guide__phone-number {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    @include global.font-middle;
    min-width: 240px;
    height: 56px;
    border: 1px dashed global.$assort-color;
  }
}

.access {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.access-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 16px;
  margin-bottom: 64px;
}

.access-map {
  width: 800px;
  height: 400px;
}

.footer {
  background-color: global.$assort-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 48px;
}

.footer-copyright {
  color: #fff;
}