@use '../global/index' as global;

.common-button {
  background-color: global.$assort-color;
  color: global.$base-color;
  width: 240px;
  height: 56px;
  @include global.font-middle;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

.common-icon-small {
  width: 20px;
  height: auto;
}

.common-icon-medium {
  width: 24px;
  height: auto;
}

.common-headline {
  font-size: global.$font-large;
  font-weight: 500;
  line-height: 1.5em;
  padding-bottom: 16px;
}

.common-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 40px 80px;

  .common-section__title {
    font-size: global.$font-xlarge;
    font-family: global.$decorative-font-family;
    letter-spacing: 0.15em;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 48px;
  }
}

.common-section--colored {
  background-color: global.$base-color;
}

.common-sns-links {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 24px;
  display: grid;
  row-gap: 24px;
}

@media screen and (max-width: global.$breakpoint-tb) {
  .common-section {
    padding: 64px 24px 80px;
  }
}

@media screen and (max-width: global.$breakpoint-sp) {
  .common-headline {
    @include global.font-middle;
  }

  .common-section {
    .common-section__title {
      font-size: global.$font-large;
      padding-bottom: 32px;
    }
  }

  .common-button {
    width: 100%;
    font-size: global.$font-small;
  }
}
