@use '../global/index' as global;

.header {
  width: 100%;
  height: 100vh;
}

.header-firstview {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;

  .header-firstview__text {
    margin-left: 40px;
    font-size: 6.4rem;
    color: global.$base-color;
    font-family: global.$decorative-font-family;
    line-height: 1.5em;
  }
}

.header-navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 64px;
  background-color: global.$assort-color;
  border-bottom: 1px solid global.$assort-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-navbar__right-items {
    height: 100%;
    display: flex;
    align-items: center;    
  }

  .header-navbar__logo {
    padding-left: 24px;
    width: 200px;
    height: auto;
  }

  .header-navbar__space {
    flex-grow: 1;
  }
  
  .header-navbar__phone-number {
    display: flex;
    @include global.font-middle;
    color: global.$base-color;
    column-gap: 16px;
    padding: 0 16px;
  }

  .header-navbar__reserve-button {
    height: 100%;
    padding: 0 32px;
    @include global.font-middle;
    background-color: global.$base-color;
    text-align: center;
  }

  .header-navbar__menu-button {
    width: 80px;
    height: 100%;  
    @include global.flex-center;
  }
}

@media screen and (max-width: global.$breakpoint) {
  .header-firstview {
    .header-firstview__text {
      font-size: 4rem;
      margin-left: 24px;
      line-height: 1.5em;
    }
  }

  .header-navbar {
    height: 48px;

    .header-navbar__phone-number {
      display: none;
    }

    .header-navbar__reserve-button {
      padding: 0 24px;
    }

    .header-navbar__menu-button {
      width: 64px;
    }
  }
}
