@use '../global/index' as global;

.menu-board {
  position: relative;
  top: 10px;
  left: 10px;
  width: 100%;
  max-width: global.$max-width;  
  background-color: global.$base-color;
  padding: 56px 72px;
  margin-bottom: 64px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 8%;
  row-gap: 24px;

  &::before {
    position: absolute;
    content: '';
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border: 1px solid global.$assort-color;
  }
}

.menu-credit-card {
  grid-area: 2 / 1 / 3 / 3;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;

  .menu-credit-card__icon {
    width: 160px;
  }
}

.menu-list {
  margin-bottom: 40px;

  .menu-list__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    .menu-list__item__line {
      flex-grow: 1;
      margin: 0 4px 11px;
      border-bottom: 1px dashed global.$assort-color;
    }
  }
}

.menu-description {
  margin-bottom: 32px;
  text-align: center;
}
