@use '../global/index' as global;

.reserve-guide {
  margin-top: 32px;
  display: flex;
  column-gap: 16px;

  .reserve-guide__phone-number {
    @include global.flex-center;
    @include global.font-middle;
    column-gap: 16px;
    width: 240px;
    height: 56px;
    border: 1px dashed global.$assort-color;
  }
}
